.listSection{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    align: center;


}

.listSection:hover{
    background-color: #FFFFFF;
    border: 1px solid #8B8682;
    border-radius: 0.5rem;
    transform: matrix(1, 0, 0, 1.1, 0, 0);
    width: 50%;
}

.link{
    text-decoration: none;
    color: #FFFFFF;
}

.names{
    padding: 0.5rem ;
}