.sectionWindow{
    display: flex;
    flex-direction: column;
    margin:  1.5% 4%;
    padding: 1%;
    height: 90%;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 2.5rem;
}

.center{
    text-align: center;
}

.usernameString,
.addressString,
.companyString{
    display: inline-flex;
    align-items: baseline;
}

.headline{
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.button{
    display: flex;
    justify-content: flex-end;
}